@media (max-width: 700px) {
    * {
        width: 100%;
    }
    .titulo {
        font-size: small;
        margin-bottom: 300px;
        width: 100%;
    }
    .descricao {
        display: none;
    }
    .container2{
        display: none;
    }
    .botao1 {
        display: none;
    }
    .pagina-principal{
        width: 100%;
        max-height: 150px;
    }
    .desconto{
        max-height: 150px;
    }
    .desconto1 {
        margin-bottom: 200px;
    }
    .subtitulo {
        font-weight: normal;
    }
    .desconto2 {
        max-width: 100px;
        max-height: 76px;
        margin: auto;
    }
    .botao3 {
        max-width: 100%;
    }
    .descricao-nome{
        display: none;
    }
    .desconto2 img {
        display: none;
    }
    header .container3 {
        margin-left: 0;
    }
    header .img-patrocinadores {
        display: none;
    }
    header .box-container {
        display: none;
    }
    .card-descricao {
        display: none;
    }
    header .descricao-programa {
        padding: 0;
        width: 100%;
    }
    header .descricao-programa2 {
        padding: 0;
        width: 100%;
    }
    header .treinamento-box1 {
        margin: 0;
    }
    header .treinamento-box2 {
        margin: 0;
    }
    header .card {
        margin-left: 5px;
        margin-right: 5px;
    }
    header #botao2{
        margin-left: 0;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #e3edf8;
}

header .container {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-basis: 30px;
    padding: 10px 20px;
}

.icones {
    display: flex;
    justify-content: space-between;
    width: 190px;
    height: 20px;
    margin-right: 100px;
    margin-left: 100px;
}

.home {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding-right: 30px;
}

.hiring {
    height: 40px;
    margin-left: 80px;
}

.img-inicial {
    width: 100%;
    height: 500px;
}

.container2 {
    width: 500px;
    margin-left: 20px;
}

.pagina-principal {
    background-image: url(../img/img1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
}

.pagina-principal .descricao {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: lighter;
}

.pagina-principal .botao1 {
    background-color: #a6caf1;
    border-radius: 30px;
    color: black;

    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding: 15px 10px;

    cursor: pointer;
    transition: .3s ease all;
}

a{
    color: black;
    text-decoration: none;
}

.botao1:hover {
    background-color: #07072c;
    color: #a6caf1;
}

.container3 {
    text-align: center;
    margin: 40px;
}

.subtitulo {
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
    font-size:xx-large;
    color: #07072c;
    text-align: center;
}

.subtitulo2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.img-patrocinadores {
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 1204px;
    height: 50px;
    margin-left: 40px;
    padding: 0 350px;
}

.box-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 60px 200px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin: 10px 10px;
    width: 200px;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #07072c;
}

.nome {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    color:yellow;
}

.descricao-nome {
    text-align: center;
    padding: 20px 0;
    font-weight: bolder;
    color: #a6caf1;
}

.descricao-nome3 {
    text-align: center;
    padding: 50px 0;
    font-weight: bolder;
    color: #a6caf1;
}

.descricao-programa {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 60px;
}

.descricao-programa2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 50px 200px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
    width: 200px;
    border-radius: 8px;
    background: #cacaf3;
    padding-top: 10px;
}

.card-titulo {
    text-align: center;
    padding: 15px;
    color: #07072c;
}

.card-descricao {
    text-align: center;
    padding: 10px;
}

.treinamento-box1 {
    text-align: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    margin: 20px 100px;
}

.treinamento-box2 {
    text-align: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    margin: 20px 100px;

}

.treinamento1 {
    border-radius: 8px;
    flex-direction: column;
    width: 500px;

}

.treinamento2 {
    border-radius: 8px;
    flex-direction: column;
    width: 500px;

}

.treinamento-titulo {
    padding: 10px 0;
    color: #07072c;
}

.front {
    padding-bottom: 20px;
}

.back {
    padding-top: 10px;
    padding-bottom: 30px;
}

.vtex {
    padding-top: 30px;
    padding-bottom: 40px;
}

.desafio {
    padding-bottom: 10px;
}


.treinamento-descricao {
    padding: 10px;
    font-weight: bold;
}

#botao2 {
    display: block;
    color: #a6caf1;
    background-color: #07072c;
    border-radius: 8px;
    width: 100%;
    margin: 50px 500px;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    align-items: center;
    font-size:medium;
    cursor: pointer;
    transition: .3s ease all;
}

#form {
    padding: 30px 0;
    text-align: center;
}

#inputLabel {
    transition: all .25s;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: #a6caf1;
    padding-right: 10px;
}

.form-container {
    background: linear-gradient(rgba(0,0,0,.10), rgba(0,0,0,.10)100%), url(../img/form2.jpg);
    margin-top: 80px;
}

#botao2:hover {
    background-color: #a6caf1;
    color: #07072c;
}

#email {
    font-family: 'Roboto', sans-serif;
    font-size:larger;
    border-radius: 5px;
    border: 1px solid #07072c;
    padding: 10px;
}

.subtitulo3 {
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
    font-size:xx-large;
    color: #a6caf1;
    text-align: center;
}

.subtitulo4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #a6caf1;
}

ol {
    padding-top: 20px;
}

.desconto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desconto1 {
    width: 80%;
    justify-content: space-between;
    text-align: center;
    margin-top: 40px;
}

.desconto2 {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 30px 250px;
}

.desconto3 {
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.botoes1 {
    text-align: center;
}

.botao3 {
    background-color: #07072c;
    border-radius: 10px;
    color: #a6caf1;

    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding: 15px 10px;
    width: 800px;

    cursor: pointer;
    transition: .3s ease all;
    text-align: center;
    margin: 30px 0;
}

a{
    color: black;
    text-decoration: none;
}

.botao3:hover {
    background-color: #a6caf1;
    color: #07072c;
}

